{% extends "layouts/app.html" %}

{% block title %}My amazing blog{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/calc.css' %}"/>
    <!-- <link rel="stylesheet" href="{% static '/css/loader.css' %}"/> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <!-- Icons-->
    <link href="{% static '/fonts/vendor/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="{% static '/fonts/vendor/simple-line-icons.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    
    <leaflet-component></leaflet-component>

{% endblock %}

{% block footer-script %}
    
    <script src="{% static 'js/Bing.js' %}"></script>
{% endblock %}


